* {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  margin: .2em;
  padding: .5em;
}

.pfp .about-me{
  display: inline-flexbox;
}

.pfp {
  height: 50%;
  width: 50%;
}

.resume {
  border-top: 2px solid black;
}

@media screen and (max-width: 400px) {
  * {
    padding: 20px;
    width: 111%;
  }
}